@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  overflow: hidden;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #101010;
}

ul {
  list-style: none;
}

.jumbotron,
.container,
.contact {
  margin: 1rem 10%;
}

.divider {
  height: 5em;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 5% 0 5%;
  z-index: 111;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar img {
  width: 100px;
  cursor: pointer;
}

.navbar ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.navbar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.navbar ul li .icon {
  display: none;
}

.navbar ul li.active {
  color: #00045f;
}

.nav__sticky {
  background: #ffffff;
  -webkit-box-shadow: 0 0 8px rgba(16, 16, 16, 0.3);
          box-shadow: 0 0 8px rgba(16, 16, 16, 0.3);
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 5rem !important;
}

.jumbotron .section {
  width: 50%;
}

.jumbotron .section h3 {
  color: #222222;
}

.jumbotron .section h1 {
  color: #f0a410;
}

.jumbotron .section p {
  color: #a2a2a2;
  margin-top: 1rem;
}

.jumbotron .section .button ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 8rem;
  margin-top: 2rem;
}

.jumbotron .section .button ul li:last-child a {
  font-size: 2em;
  color: #a2a2a2;
}

.jumbotron .section .button ul li:first-child a {
  margin-right: 2rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  color: #ffffff;
  background: #00045f;
}

.jumbotron .section .button ul li a:not(:last-child) {
  margin-right: 2.5rem;
}

.jumbotron .image {
  width: 50%;
}

.jumbotron .image img {
  width: 100%;
}

.jumbotron .decoration {
  width: 100%;
  height: 100%;
  background: url("../img/decorations/Vector1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  left: auto;
  bottom: auto;
  right: auto;
  top: auto;
  opacity: 0.3;
  left: -50% !important;
  bottom: -20% !important;
}

.projects .title {
  width: 40%;
  padding-left: 10%;
}

.projects .title p {
  margin: 1rem 0 2rem 0;
}

.projects .title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .title ul li {
  position: relative;
  cursor: pointer;
  padding: 0 10px;
}

.projects .title ul li:not(:last-child) {
  margin-right: 1rem;
}

.projects .title ul .active::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 3px solid #f0a410;
}

.projects .box__container {
  width: 90%;
  margin: 1rem auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.projects .box__container .project {
  position: relative;
}

.projects .box__container .project .project__title {
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: #ffffff;
}

.projects .box__container img {
  width: 100%;
}

.projects .btn__view {
  cursor: pointer;
  text-align: center;
  color: #00045f;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.container .skills {
  width: 40%;
}

.container .skills .title p {
  margin: 1rem 0 2rem 0;
}

.container .skills .skill__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.container .skills .skill__bar {
  position: relative;
  width: 100%;
  height: 2px;
  margin-top: 0.5rem;
  background: #a2a2a2;
}

.container .skills .skill__bar::before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  width: calc(var(--width, 0) * 1%);
  height: 6px;
  background: #f0a410;
}

.container .certificates {
  position: absolute;
  right: 0;
  width: 49%;
  height: 100%;
  margin: 1rem;
}

.container .certificates .box__certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  cursor: pointer;
  width: 230px;
  height: 230px;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px rgba(16, 16, 16, 0.3);
          box-shadow: 0 0 8px rgba(16, 16, 16, 0.3);
}

.container .certificates .box__certificate h5 {
  text-align: center;
}

.container .certificates .website {
  left: 3rem;
  top: 3rem;
}

.container .certificates .android {
  right: 3rem;
  bottom: 3rem;
}

.container .decoration {
  width: 100%;
  height: 100%;
  background: url("../img/decorations/Vector1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  left: auto;
  bottom: auto;
  right: auto;
  top: auto;
  opacity: 0.3;
  top: -70% !important;
  right: -70% !important;
}

.container .decoration1 {
  width: 100%;
  height: 100%;
  background: url("../img/decorations/Vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  left: auto;
  bottom: auto;
  right: auto;
  top: auto;
  opacity: 0.3;
  left: -40%;
  bottom: -110%;
}

.contact {
  position: relative;
}

.contact .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .section .box__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.contact .section .box__information .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  color: #ffffff !important;
  background: #a2a2a2;
}

.contact .section .box__information .address__information {
  width: 80%;
}

.contact form {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form input,
.contact form textarea,
.contact form button {
  margin-top: 1rem;
  padding: 10px 15px;
}

.contact form button {
  width: 25%;
  border: none;
  cursor: pointer;
  outline: inherit;
  color: #ffffff;
  background: #00045f;
}

.footer__foo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10%;
  padding: 2rem 0;
  border-top: 2px solid #a2a2a2;
}

.footer__foo .footer__brand img {
  width: 90%;
}

.footer__foo .footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  width: 60%;
  margin: 1rem;
}

.footer__foo .footer__section h6 {
  margin-bottom: 10px;
}

.footer__foo .footer__section .list li {
  cursor: pointer;
}

.footer__foo .footer__section li:not(:last-child) {
  margin-right: 1rem;
}

.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  color: #ffffff;
  background: #101010;
}

.footer__footer p {
  margin-left: 5px;
}

@media (min-width: 1600px) {
  h1 {
    font-size: 7em;
  }
  h2 {
    font-size: 5em;
  }
  h3 {
    font-size: 4em;
  }
  h4 {
    font-size: 3em;
  }
  h5 {
    font-size: 2em;
  }
  h6 {
    font-size: 1.8em;
  }
  p,
  span,
  .icon {
    font-size: 1.5em !important;
  }
  .navbar img {
    width: 200px;
  }
  .projects .box__container {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  .certificates .box__certificate {
    padding: 2rem !important;
    width: 350px !important;
    height: 350px !important;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.1em;
  }
  a,
  p,
  span,
  .icon {
    font-size: 1em;
  }
  .jumbotron {
    margin: 1rem 5%;
  }
  .projects .title {
    width: 60%;
  }
  .certificates .box__certificate {
    padding: 1.5rem !important;
  }
  .certificates .website {
    left: 0 !important;
  }
  .certificates .android {
    right: 0 !important;
  }
  .contact form button {
    width: 40%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.8em;
  }
  a,
  p,
  span,
  .icon {
    font-size: 0.8em;
  }
  .jumbotron {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .jumbotron .section {
    width: 80%;
    margin-top: 3rem;
  }
  .jumbotron .image {
    width: 80%;
  }
  .jumbotron .image img {
    width: 100%;
  }
  .jumbotron .decoration {
    height: 50%;
  }
  .projects .title {
    width: 70%;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .skills {
    width: 100%;
  }
  .container .certificates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 3rem;
    position: unset;
  }
  .container .certificates .box__certificate {
    position: unset;
    margin: 1rem;
  }
  .container .certificates .website {
    -webkit-transform: unset;
            transform: unset;
  }
  .contact .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .section .contact__information {
    width: 100%;
  }
  .contact form {
    width: 100%;
    margin: 1rem;
  }
  .contact form button {
    width: 25%;
  }
  .footer__foo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__foo .footer__section {
    margin-top: 2rem;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 0 5%;
    z-index: 1111;
    background: #ffffff;
  }
  .navbar .navbar__brand img {
    vertical-align: middle;
    width: 80px;
  }
  .navbar ul {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    height: 50px;
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-shadow: 0 -2px 8px rgba(16, 16, 16, 0.1);
            box-shadow: 0 -2px 8px rgba(16, 16, 16, 0.1);
  }
  .navbar ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
  }
  .navbar ul li:hover {
    background: rgba(0, 4, 95, 0.1);
  }
  .navbar ul li.active a {
    color: #00045f;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar ul .icon {
    display: block !important;
  }
  .navbar ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #a2a2a2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jumbotron .section h1 {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
  }
  .projects .title {
    width: 100%;
  }
  .projects .box__container {
    -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
  .contact form {
    width: 100%;
    margin: 1rem;
  }
  .contact form button {
    width: 40%;
  }
}
/*# sourceMappingURL=App.css.map */