// color
$primary-color: #f0a410;

// text color
$text-secondary-color: #a2a2a2;

// image decoration
$img-decoration: "../../assets/img/decorations/Vector.svg";
$img-decoration1: "../../assets/img/decorations/Vector1.svg";

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin decoration($img) {
  width: 100%;
  height: 100%;
  background: url($img);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  left: auto;
  bottom: auto;
  right: auto;
  top: auto;
  opacity: 0.3;
}

.container {
  @include flex-between();
  position: relative;
  .skills {
    width: 45%;
    .title {
      p {
        margin: 1rem 0 2rem 0;
      }
    }
    .skill__information {
      @include flex-between();
      margin-top: 1rem;
    }
    .skill__bar {
      position: relative;
      width: 100%;
      height: 2px;
      margin-top: 0.5rem;
      background: $text-secondary-color;
    }
    .active::before {
      content: "";
      position: absolute;
      transform: translateY(-2px);
      width: calc(var(--width, 0) * 1%);
      height: 6px;
      background: $primary-color;
      animation: skillbar 1.5s ease-out;
    }
    @keyframes skillbar {
      0% {
        width: 0;
      }
      100% {
        width: calc(var(--width, 0) * 1%);
      }
    }
  }
  .decoration {
    @include decoration($img-decoration1);
    top: -70% !important;
    right: -70% !important;
  }
  .decoration1 {
    @include decoration($img-decoration);
    left: -40%;
    bottom: -110%;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    .skills {
      width: 100%;
    }
  }
}
